@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --accent: #facc15;       /* Jaune principal */
  --accent-soft: #fde047;  /* Jaune doux */
  --bg: #0f172a;           /* Noir ardoise */
  color-scheme: dark; 
}
html, body, #root { height: 100%; }
body {
  background-color: var(--bg);
  background-image:
    radial-gradient(600px 300px at 80% -10%, rgba(250,204,21,.15), transparent 50%),
    radial-gradient(400px 200px at 10% 120%, rgba(250,204,21,.08), transparent 60%);
}
:focus-visible { outline: 2px solid var(--accent); outline-offset: 2px; }
